name: Print GitHub Variable

on:
  workflow_dispatch:

jobs:
  print-variable:
    runs-on: ubuntu-latest

    steps:
      - name: Print variable value
        run: |
          echo "APP_ENV = ${{ vars.SQL_USER }}"
